
@use './assets/variables.scss' as v;
@import url('https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap');


/* Global Styles */
:root, html, body {
  margin: 0 auto;
  padding: 0;
  font-family: 'Poppins', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

:root, html {
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* Resets */
fieldset {
  border: none;
}

h1, p {
  margin: 0;
  padding: 0;
}

body {
  min-width: 40vw;
  max-width: 60vw;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-weight: bold;
}

/* Common Styles */
header, section, footer {
  padding: 1.5em;
}

button {
  background-color: v.$primary-color;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 600;
  font-family: inherit;
  cursor: pointer;
  transition: background-color 0.25s;
}

button:hover,
button:focus{
    background-color: v.$secondary-color;
}

label, legend {
  font-weight: 600;
}

@media only screen and (max-width: 600px) { 
  body{
    max-width: 85vw;
  }

  header, section, footer {
    padding: .5em;
  }

  h1 {
    margin-top: 1em;
    font-size: 2.5em;
  }
}
