@use '../../assets/variables.scss' as v;

.buttonGroup__container {
    display: flex;
    margin-bottom: 1em;
    
    button {
        width: 100%;
    }
    
    button.buttonGroup__button--isSelected{
        background-color: v.$secondary-color;
    }
}